<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>best app</title>
</head>
<body></body><a class="log_in btn-floating btn-large pulse" href="login">LogIn<i class="material-icons">       </i></a><a class="sign_up btn-floating btn-large pulse" href="signup">SignUp<i class="material-icons"></i></a><br>
<h1 class="intro">Your Next Binge!</h1>
<p>Check out a sample of the latest and greatest reviews. Create an account to be part of the conversation:</p>
<div class="result_row"></div>
<div class="footer-wrapper">
  <footer>&copy; 2020 Copyright</footer>
</div>