<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>best app</title>
</head>
<body></body>
<console class="log" info>
  <div class="banner_img"></div>
  <div class="page_header_clear">
    <h2 class="page_name">Your Next Binge!</h2>
    <div class="nav"><a href="reviews"> Reviews |</a><a href="submit"> Submit </a></div>
  </div>
  <div class="icon_image"><img alt="cover-image" id="icon_image" style="height: 300px"></div>
  <div class="review_block">
    <h2></h2>
    <p></p>
    <button class="return_butt">Go Back</button>
  </div>
</console>