doctype html
html
head
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")
    title best app
body

    
        include includes/nav

        .submit_box

            h3 Go Ahead, be honest!
            select(id="category")
                option(value="movie") Movie
                option(value="book" selected) Book
                option(value="podcast") Podcast
                console.log(category.value)

            br
            br

            input(class="form" type="text" id="title" placeholder="Title?")  
            br
            br
            input(class="form" type="text" id="author" placeholder="Author?")  
            br
            br

            textarea(class="form" id="reviews" cols="70" rows="10" placeholder="What did you think?")
            br
            br
            button(class="submit" id="submit_butt" type="submit") Submit

script
    include ../public/js/submit.js