doctype html
html
head
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")
    title best app
body
-let User = {loggedOn: false}
    if User.loggedOn 
    
        include includes/nav
    else
        a.log_in(href="login") Log In
        a.sign_up(href="signup") Sign Up
        br

        h1.intro Your Next Binge!

    p Reviews:

    .result_row
    
        include includes/result
        include includes/result
        include includes/result
