doctype html
html
head
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")
    
    title best app
body
    form.login_box
        h4 Log into Your Account to Post Reviews!
        br
        input(class="form" type="text" id="email_inp" placeholder="Email")
        br
        input(class="form" type="password" id="password_inp" placeholder="Password")
        br
        button(class="submit" id="login_user" type="submit") Submit
script
    include ../public/js/login.js