doctype html
html
head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")  
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    title best app
body
-let User = {loggedOn: true}
console.log(info)
    if User.loggedOn 
        .banner_img
        include includes/nav-clear
        .icon_image
            img(src=image alt="cover-image" id="icon_image" style="height: 300px")
        .review_block
            h2 #{title}
            p #{reviews}
            button(class="return_butt") Go Back

