doctype html
html
head
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")
    title best app
body
    .login_box
        h4 Sign up for an account to post reviews!
        br
        input(class="form" type="text" placeholder="Email")
        br
        input(class="form" type="text" placeholder="Password")
        br
        button(class="submit" id="submit_butt" type="submit") Submit
