doctype html
html
head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")  
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    title best app
body

    
        include includes/nav

        .submit_box

            h3 Go Ahead, be honest!
            select(id="category")
                option(value="movie" select) Movie
                option(value="book") Book

            br
            br

            input(class="form" type="text" id="title" placeholder="Title?")  
            br
            br

            textarea(class="form" id="reviews" cols="70" rows="10" placeholder="What did you think?")
            br
            br
            button(class="submit" id="submit_butt" type="submit") Submit

script
    include ../public/js/submit.js