doctype html
html
head
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")
    title best app
body
-let User = {loggedOn: true}
    if User.loggedOn 
    
        include includes/nav

        .submit_box

            h3 Go Ahead, be honest!
            select(id="category")
                option(value="movie") Movie
                option(value="book") Book
                option(value="podcast") Podcast
            br
            br
            input(class="form" id="title_submit" type="text" placeholder="Title?")
            br
            br
            textarea(class="form" cols="70" rows="10" placeholder="What did you think?")
            br
            br
            button(class="submit" id="submit_butt" type="submit") Submit

    else
        h4 You must be logged on to view this page

