doctype html
html
head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="../css/style.css")
    script(src="https://code.jquery.com/jquery.js")  
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    title best app
body
-let User = {loggedOn: true}
    if User.loggedOn 
    
        include includes/nav

        .submit_box

            h3 Go Ahead, be honest!
            select(id="category")
                option(value="movie") Movie
                option(value="book") Book
                option(value="podcast") Podcast
                console.log(category.value)

            br
            br

            input(class="form" type="text" id="title" placeholder="Title?")  
            br
            br
            //- case category 
            //-     when "book"
            //-         include includes/author.pug
                
            if category = "book"
                    include includes/author.pug

            textarea(class="form" id="reviews" cols="70" rows="10" placeholder="What did you think?")
            br
            br
            button(class="submit" id="submit_butt" type="submit") Submit

        //- -let category = {category: category.value}
    //- else
    //-     h4 You must be logged on to view this page

script
    include ../public/js/submit.js