/* universal css */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body {
    background-color: #455a64;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
}

.page_header {
    background-image: url("public\assets\next_binge.png");
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.page_name {
    font-family: "Rock Salt", Arial, Helvetica, sans-serif;
}



.nav {
    padding-top: 20px;
    min-width: 210px;
}

a {
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
}

.form {
    background-color: rgb(174, 182, 185);
    border-radius: 12px;
    padding: 7px;
    border: none;
}

button {
    background-color:#FFFDD0;
    color: black;
    border: solid 1px black;
    border-radius: 15px;
    padding: 10px;
}

/* index page */

.intro {
    font-family: "Rock Salt", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 3%;
    min-width: 210px;
}

#searchForm {
    width: -webkit-fill-available;
    margin: 5px;
}

.sign_up {
    float: right;
    font-size: 90%;
}

#searchCategory {
    padding: 3px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* submit page */

.submit {
    float: right;
}

.form {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #78909c;
    resize: none;
}

.submit_box {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding-bottom: 15%;
    max-width: 500px;
    margin: auto;
}

.search_box {
    padding-top: 60px;
    max-width: 400px;
    margin: auto;
}

#category {
    padding: 3px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* reviews pages */

.page_header_clear {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.banner_img {
    z-index: -1;
    background-image: url(../assets/image1.jpeg);
    width: 100%;
    height: 400px;
    background-size: 1200px;
    background-position-y: 735px;
    position: absolute;
}

.icon_image {
    position: relative;
    margin: auto;
    background-color: black;
    height: 200px;
    width: 150px;
}


.review_block { 
    text-align: center;
    padding-top: 120px;
    min-width: 300px;
}

.return_butt {
    margin-top: 30px;
    margin-bottom: 50px;
}

.result_card {
    border: #C0C0C0 1px solid;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    display: inline-block;
    height: 250px;
    width: 200px;
}

.result_row {
    text-align: center;
}

.login_box {
    padding-top: 10%;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

.log_in {
    background-color: rosybrown;
    color: black;
}

.sign_up {
    background-color: rosybrown;
    color: black;
}

.text {
    text-align: center;
}

.pink_buttons {
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}


