/* universal css */
body {
    background-color: rgb(19, 19, 19);
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif
}

.page_header {
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav {
    padding-top: 20px;
    min-width: 210px;
}

a {
    padding: 5px;
    color: rgb(0, 204, 255);
    text-decoration: none;
}

.form {
    background-color: rgb(174, 182, 185);
    border-radius: 12px;
    padding: 7px;
    border: none;
}

button {
    background-color: rgb(17, 14, 177);
    color: white;
    border: solid 1px white;
    border-radius: 15px;
    padding: 10px;
}

/* index page */

.intro {
    text-align: center;
    padding: 30px;
    min-width: 210px;
}

#searchForm {
    width: -webkit-fill-available;
    margin: 5px;
}

.sign_up {
    float: right;
    font-size: 90%;
}

#searchCategory {
    padding: 3px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* submit page */

.submit {
    float: right;
}

.submit_box {
    max-width: 500px;
    margin: auto;
}

.search_box {
    padding-top: 60px;
    max-width: 400px;
    margin: auto;
}

#category {
    padding: 3px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* reviews pages */

.page_header_clear {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.banner_img {
    z-index: -1;
    background-image: url(../assets/image1.jpeg);
    width: 100%;
    height: 300px;
    background-size: 1200px;
    background-position-y: 735px;
    position: absolute;
}

.icon_image {
    position: relative;
    margin: auto;
    background-color: black;
    height: 200px;
    width: 150px;
}


.review_block {
    text-align: center;
    padding-top: 60px;
    min-width: 300px;
}

.return_butt {
    margin-top: 30px;
}


.result_card {
    border: rgb(0, 110, 255) 1px solid;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    display: inline-block;
    height: 250px;
    width: 200px;
}

.login_box {
    max-width: 400px;
}