<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>best app</title>
</head>
<body></body>
<div class="page_header">
  <h2 class="page_name">Your Next Binge!</h2>
  <div class="nav"><a href="/"> Home |</a><a href="reviews"> Reviews |</a><a href="submit"> Submit </a></div>
</div>
<div class="search_box"> 
  <input class="form" id="searchForm" type="text">
  <select id="searchCategory">
    <option value="movie">Movies</option>
    <option value="book">Books</option>
    <option value="podcast">Podcasts</option>
  </select>
  <button class="submit" id="search" type="submit">Search</button>
</div>
<script>// on click function
$('#search').on('click', function(event){
  event.preventDefault();
  console.log('hello');
  let searchCategory = $('#searchCategory').val();

  switch(searchCategory) {
    case "book":
  let searchTerm = ($('#searchForm').val().trim().toLowerCase().replace(/\s+/g, '-'))
  $.ajax({
      url: `http://cors-anywhere.herokuapp.com/http://openlibrary.org/search.json?q=${searchTerm}`,
      method: "GET"
    }).then(function(response) {
      let isbn = (response.docs[0].isbn[0])
      // $.ajax({
      //   url:  `http://covers.openlibrary.org/b/isbn/${isbn}-M.jpg`,
      //   method: "GET"
      // }).then(function(response) {
        console.log(`http://covers.openlibrary.org/b/isbn/${isbn}-M.jpg`);
      // });
    let searchTerm = ($('#searchForm').val().trim().toLowerCase().replace(/\s+/g, '-'))
    $.ajax({
    url: `https://www.omdbapi.com/?t=${searchTerm}&apikey=b63370de`,
    method: "GET"
    }).then(function(response) {
    console.log(response.Poster);
    });
  });

break;

case "movie":
// on click function for movie api call
  event.preventDefault();
  console.log('working?');
  let searchTerm = ($('#searchForm').val().trim().toLowerCase().replace(/\s+/g, '-'))
  $.ajax({
    url: `https://www.omdbapi.com/?t=${searchTerm}&apikey=b63370de`,
    method: "GET"
  }).then(function(response) {
    console.log(response.Poster);
    // let movieDiv = $("<div class='movie'>");
    // let imgURL = response.Poster;
    // // Creating an element to hold the image
    // let image = $("<img>").attr("src", imgURL);
    // // Appending the image
    // movieDiv.append(image);
  });
  break;

  case "podcast":
    let apikey = "168047bb609b40a59ba42611be558681"
    console.log("podcast get")
    break;
}

});
  
</script>