<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>best app</title>
</head>
<body></body><a class="sign_up" href="#">sign up for an account to create a review!</a>
<h1 class="intro">Your Next Binge!</h1>
<div class="search_box"> 
  <input class="form" id="search_form" type="text">
  <button class="submit" id="search" type="submit">Search Reviews</button>
</div>
<script src="../js/search.js"></script>