<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>best app</title>
</head>
<body>
  <div class="login_box">
    <h4>Sign up for an account to post reviews!</h4><br>
    <input class="form" id='email' type="text" placeholder="Email"><br>
    <input class="form" id='password' type="password" placeholder="Password"><br>
    <button id="submit_login">Submit</button>
    <button id="submit2"></button>
    <script src="/js/login.js"></script>
  </div>
</body>