<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>best app</title>
</head>
<body></body>
<div class="banner_img"></div>
<div class="page_header_clear">
  <h2 class="page_name">Your Next Binge!</h2>
  <div class="nav"><a href="/"> Home |</a><a href="reviews"> Reviews |</a><a href="submit"> Submit </a></div>
</div>
<div class="icon_image"><img src="" alt="cover-image" id="icon_image"></div>
<div class="review_block">
  <h2>Review Title</h2>
  <p>review text</p>
  <button class="return_butt">Go Back</button>
</div>
<script src="../public/js/search.js"></script>