<!DOCTYPE html>
<html></html>
<head>
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>best app</title>
</head>
<body>
  <div class="page_header">
    <h2 class="page_name">Your Next Binge!</h2>
    <div class="nav"><a href="/"> Home |</a><a href="reviews"> Reviews |</a><a href="submit"> Submit </a></div>
  </div>
  <p>Here's what we found:</p>
  <div class="result_row">
    <div class="result_card"><img src="" alt="" height="100px" width="200px">
      <h2>Title</h2>
      <p>text body</p>
    </div>
    <div class="result_card"><img src="" alt="" height="100px" width="200px">
      <h2>Title</h2>
      <p>text body</p>
    </div>
    <div class="result_card"><img src="" alt="" height="100px" width="200px">
      <h2>Title</h2>
      <p>text body</p>
    </div>
  </div>
</body>